---
import Layout from "../layouts/Layout.astro";
---

<Layout title="wordcount" >
	<main>
	  <div id='d'>
        <div id='maxL'> Limit
            <input type="number" id="l" min="100" max="500" value="100">
        </div>
        <div id='inner'>
        <textarea name="textA" id="ta" maxlength='100' placeholder="Message Here..."></textarea>
        <p><span id='numbers'></span></p></div>
    </div>
	</main>
</Layout>

<script>
    const ta = document.getElementById('ta') as HTMLInputElement;
    const num = document.getElementById('numbers') as HTMLInputElement;
    const limit = document.getElementById('l') as HTMLInputElement;

    function setLimit(val:number) {
        num.innerText = ta.value.length + ` / ${val}`;
    }
    setLimit(ta.maxLength);

    if(limit){
    limit.addEventListener('input', () => {
        if(ta.value.length<parseInt(limit.value)){
        ta.maxLength = parseInt(limit.value);
        setLimit(ta.maxLength);
        }else{
            alert('my guy, u got too many characters');
        }

    });
    ta.addEventListener('input', () => {

        setLimit(ta.maxLength);
    });}
</script>
<style>
    
        #maxL {
            padding-right: 2em;
            padding-top: .6em;

        }

        #l {
            text-align: center;
            padding: 0;
            width: 50%;
            height: 2em;
            font-size: 1.5em;
        }
        
        p {
            padding-right: 1em;
            margin: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            font-weight:bold;
            font-size: 1.2em;
            opacity: .78;
        }  #d {
            height: 6em;
            display: flex;
            justify-content: center;
        }
        #inner{
            width: 50%;
            position: relative;
        } 
         #ta {
            width: 100%;
            font-size: 1.4em;
            height: 100%;
            resize:none;
            padding: 1em;
            box-sizing: border-box;
        }
</style>