---
import Layout from '../layouts/Layout.astro';
---

<Layout title="wordcount">
	<main>
		<div class="h-[400px] flex justify-center rounded">
			<div class="w-2/3 relative">
				<textarea
					name="textA"
					id="ta"
					maxlength="100"
					placeholder="Message Here..."
					class="rounded w-full text-xl h-full p-4 box-border"></textarea>
				<p class="pr-3 text-md m-0 absolute right-0 bottom-0 opacity-75 font-bold">
					<span id="numbers"></span>
				</p>
			</div>
		</div>
	</main>
</Layout>

<script>
	const ta = document.getElementById('ta') as HTMLInputElement;
	const num = document.getElementById('numbers') as HTMLInputElement;

	ta.addEventListener('input', () => {
		const list = ta.value.trim().split(' ');
		num.innerText = `Words: ${ta.value.trim() === '' ? 0 : list.length} Letters: ${
			ta.value.replace(/ /g, '').length
		}`;
	});
</script>

