---
import '../styles/global.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My {title}</title>
	</head>
	<body class="bg-sky-200">
		<h1 class="text-2xl capitalize p-4 m-2 bg-slate-100 w-fit rounded underline font-bold ">My {title}
		{
			title !== 'homepage' && (
				<a href="/">
					{' '}
					<span>&larr;</span>Back
				</a>
			)
		}</h1>
		<slot />
	</body>
</html>

